body {
    font-family: 'Open Sans', sans-serif;
}

.navbar {
    display: flex;
    min-width: 100%;
    background-color: yellow;
    margin-top: -0.5%;
    margin-left: -0.5%;
    margin-right: -0.4%;
    top: 0;
    height: 50px;
}

nav {
    background-color: yellow;
}

nav ul {
    list-style-type: none;
    font-weight: bold;
}

nav li {
    cursor: pointer;
    display: inline-block;
    margin: 12px;
    margin-top: 0px;
}

nav a {
    text-decoration: none;
    color: black;
}

.header {
    text-align: center;
    margin-top: 3%;
}

.header p {
    font-size: 20px;
}

.projects {
    text-align: center;
}

img {
    max-width: 640px;
    max-height: 416px;
}

#logo {
    max-width: 200px;
    max-height: 200px;
}

.status {
    font-size: 15px;
}

.learn {
    font-weight: bold;
    font-size: 18px;
}

.learn a {
    color: black;
}